{% extends "base.html" %}

{% block title %} Nosotros {% endblock %}

{% block content %} 

 <h3>
    Quiénes somos
 </h3>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, sapiente in! Ipsam molestias modi omnis nulla in odio. Pariatur inventore quisquam natus aperiam. Excepturi, ut. Placeat iste culpa quibusdam architecto, quod vero quaerat saepe nesciunt aperiam ipsa fugit, ducimus ut voluptates, eos temporibus incidunt laborum. Recusandae praesentium voluptatibus itaque doloribus earum, sint impedit amet ipsam quam atque maiores vitae molestias, aliquam, distinctio laboriosam a facilis soluta dicta necessitatibus temporibus vel aspernatur. Quos eaque harum non aut, illum rerum consectetur beatae blanditiis velit quaerat corporis autem omnis ea ad asperiores error sunt consequatur odit? Officia molestiae itaque assumenda quibusdam quam adipisci.</p>

{% endblock %}

